RewriteEngine on
RewriteCond $1 !^(index.html|index\.php|svn\.php|default\.php|test\.php|static|uploads|views|dbhuanglp|robots\.txt) [NC]
RewriteRule ^([^\.]+)$ index.php/$1 [L]
#RewriteRule ^(.+)$ index.php/$1 [L]