<!--{if !$_ENV[ajaxreq]}-->
{template header}
    <div class="infos" style="display:;">
<!--{else}-->
        <ul class="nav nav-tabs clearfix">
          <li class="active"><a href="#tabs-login" data-toggle="tab"><b>Login</b></a></li>
          <li><a href="#tabs-signup" data-toggle="tab"><b>Sign Up</b></a></li>
          <li><a href="#tabs-find" data-toggle="tab"><b>Find Password</b></a></li>
        </ul>
<!--{/if}-->
        <div class="tab-content formdiv formnb">
          <div class="info_l active" id="tabs-login">
            <h2>Already Registered with Guide of Shanghai?<span>Please Sign In.</span></h2>
            <form action="user/home/login" method="post" name="loginForm" autocomplete="off">
            <!--{echo $this->form->hidden('qcurl','', $G[url])}-->
            <!--{loop $loginform $k $one}-->
            <div class="formline plus-{$k}">
              {$one[label]}
              {$one[ele]}
            </div>
            <!--{/loop}-->
            <div class="formbtn queding1">
              <button type="submit" class="qd">LOGIN</button>
              <!--{if !$_ENV[ajaxreq]}--><a href="#tab-find">[Find password]</a><!--{/if}-->
            </div>
            </form>
          </div>
          <div class="info_r" id="tabs-signup">
            <h2>Not Registered Yet? Signing up is easy!</h2>
            <p class="info-rp">As a member you can join the free dating, upload housing ads, write reviews and more</p>
            <form action="user/home/signup" method="post" name="signupForm" autocomplete="off">
            <!--{loop $regform $one}-->
            <div class="formline plus-reg-{$k}">
              {$one[label]}
              {$one[ele]}
            </div>
            <!--{/loop}-->
            <div class="formbtn queding2">
              <button type="submit" class="qd2">Sign Up</button>
            </div>
            </form>
          </div>
          <div class="tab-pane no-account" id="tabs-find">
            <h2>Forgot your Password?</h2>
            <p class="info-rp">Enter your email and we will send your password to the email address associated with your account.</p>
            <form action="user/home/findpass" method="post" name="findForm" autocomplete="off">
            <div class="queding2">
            	<input class="req-email minlength4" maxlength="50" id="find-email" name="email" type="text" placeholder="Please enter your email.." style="width:280px;padding:8px" />
                <input type="submit" class="qd2" value="Send Password"> 
            </div></form>
          </div>
        </div>
<!--{if !$_ENV[ajaxreq]}-->
    </div>
{template footer}
<!--{/if}-->
