{template header}
<section class="sidemain">
  <div class="divblk pr">
    <div class="blkhead"><h3>{$head_title}</h3></div>
    <form action="app=tree&ac=update" name="theForm" method="post" autocomplete="off">
    <div class="toolbar button_group scrollbar downmenu">
      <ul>
        <li class="group_left"><a href="#add-tree" title="{lang button.add}" class="icons add"><small></small>{lang button.add}</a></li>
        <li class="group_right"><button type="submit" class="disabled save" title="{lang button.save}"><small></small>{lang button.save}</button></li>
      </ul>
    </div>
    <div class="treedata">
      <table cellspacing="0" cellpadding="0" class="datatbl" style="width:100%">
        <thead>
        <tr>
          <th style="width:5%">{lang text.id}</th>
          <th style="width:20%">{lang text.alias}</th>
          <th>{lang app.tree_name}</th>
          <th style="width:30%">{lang app.tree_table}</th>
        </tr>
        </thead>
        <tbody>
        <!--{loop $loop $app $one}-->
        <tr>
          <td>$one[id]</td>
          <td><span class="qkeditor" id="alias-{$one[id]}">$one[alias]</span></td>
          <td class="detail">
            <a href="{echo url('app=tree&data='.$one[alias].'&id=0')}" class="bgicon data frgt" title="{lang button.data}"><small></small></a>
            <span class="qkeditor" id="typename-{$one[id]}">$one[typename]</span></td>
          <td><span class="qkeditor" id="treetable-{$one[id]}">$one[treetable]</span></td>
        </tr>
        <!--{/loop}-->
        </tbody>
      </table>
    </div>
    </form>
    <!--[if lte IE 6]><span style="float:right; position:relative;"></span><![endif]-->
  </div>
  <div class="clearfix"></div>
</section>
<div style="display:none">
  <div id="add-tree" class="cxform" style="margin:10px">
  <form action="app=tree&ac=add" method="post" name="addForm" autocomplete="off">
    <input type="hidden" name="formhash" value="{$formhash}" />
    <ul>
      <!--{loop $form $ele}-->
      <li>{$ele}</li>
      <!--{/loop}-->
    </ul>
  </form>
  </div>
</div>
<script type="text/javascript" src="scripts/jquery.editable.js"></script>
<script type="text/javascript">
$(function(){
	$('form[name=theForm]').saveForm();
	$('.qkeditor').editable({
		editClass:'ineditor',
		elename: function(){
			var id=$(this).attr('id').split('-');
			return 'updata['+id[1]+']['+id[0]+']';
		},
		callback: function(op){
			$('.save','.toolbar').replaceClass('disabled','enable');
			if(this.name.search(/(typename|alias)/ig)>-1){
				$(this).addClass('req-any minlength2').attr('maxlength',200);
			}
		},
		cancel: function(me){
			if(!$('[name^="updata"]').length) $('.save','.toolbar').replaceClass('enable','disabled');
		}
	});
	$('.add').dialog({width:360,
	buttons:{
		'submit': function(){
			$('form[name=addForm]').saveForm().trigger('submit');
		},
		'cancel.cancel': function(){return true;}
	}});
});
</script>
<!--<script type="text/javascript" src="{$static_dir}application/tree/tree.js"></script>-->
{template footer}