{template header}
<aside class="sidebox sidergt" style="width:240px">
  <section class="asidenav divblk-ncs scrollbar" style="top:0;right:0;width:230px">
    <div class="cxform addForm">
      <div class="blkhead"><h3>{$lang[button][add]}</h3></div>
      <form method="post" action="{echo url('app=tree&ac=add')}" name="addForm" autocomplete="off">
      <input type="hidden" name="pid" id="addpid" value="0" />
      <input type="hidden" name="tid" value="{$tid}" />
      <input type="hidden" name="formhash" value="{$formhash}" />
      <ul>
        <li>{$form[parentname]}</li>
        <li>{$form[adddataname]}</li>
        <li><button type="submit" class="buttons save">{$lang[button][save]}</button>
          <button type="button" class="buttons cancel">{$lang[button][cancel]}</button></li>
      </ul>
      </form>
    </div>
    <div class="cxform editForm hide">
      <div class="blkhead"><h3>{$lang[button][edit]}</h3></div>
      <form method="post" action="{echo url('app=tree&ac=update')}" name="editForm" autocomplete="off">
      <input type="hidden" name="id" id="editid" value="0" />
      <input type="hidden" name="tid" value="{$tid}" />
      <input type="hidden" name="formhash" value="{$formhash}" />
      <ul>
        <li>{$form[dataname]}</li>
        <li>{$form[options]}</li>
        <li><button type="submit" class="buttons save">{$lang[button][save]}</button>
          <button type="button" class="buttons cancel">{$lang[button][cancel]}</button></li>
      </ul>
      </form>
    </div>
  </section>
</aside>
<section class="sidemain">
  <div class="divblk pr">
    <div class="blkhead"><h3>{$head_title}</h3></div>
    <div class="treedata" >
      <ul>
        <!--<li class="collaps">
          <span class="arrow" title="[field:orderby]">
            <a href="javascript:;" class="arrow_up"><small></small></a><a href="javascript:;" class="arrow_down"><small></small></a></span>
          <div id="cat_[field:id]"><span class="manage">
			<a title="New Sub Category" class="bgicon add" href="#add-[field:id]"><small></small></a>
			<a title="Edit Category" class="bgicon edit" rel="[field:pid]" href="#edit-[field:id]"><small></small></a>
			<a href="#delete" rel="[field:id]" class="bgicon delete" title="Delete"><small></small></a>
			<a href="#move" rel="[field:id]" class="bgicon move" title="Move"><small></small></a></span>
            <strong>[[field:id]]</strong> <span>[field:dataname]</span>
            <em>([field:childs])</em></div>
        </li>-->
      </ul>
    </div>
    <!--[if lte IE 6]><span style="float:right; position:relative;"></span><![endif]-->
  </div>
</section>
<script type="text/javascript" src="{echo REAL_WEBROOT}app/tree/tree.js"></script>
<script type="text/javascript">
jQuery.extend($.lang, {
	'confirm_delete':'{lang confirm_delete}',
	'warning_delete':'{lang warning_delete}',
	'caution_delete':'{lang caution_delete}'
});
$(function(){
	jQuery.apptree.init({
		'tid': '{$tid}',
		'expr': '.treedata>ul',
		'geturl': '{echo url("dir=&app=tree")}',
		'orderurl': '{echo url("app=tree&ac=orderby")}',
		'delaction': '{echo url("app=tree&ac=delete")}'
	});
});
</script>
{template footer}