<div class="cd-left">
    <div class="where">
        <ul>
            <li>
                <a href="search/venue/cid/restaurants" id="where-to-eat">
                    <h3>Where to Eat</h3>
                    <span>Find a hotel in Shanghai</span>
                </a>
            </li>
            <li>
                <a href="search/venue/cid/75" id="where-to-have-drink">
                    <h3>Where to have drinks</h3>
                    <span>Find a hotel in Shanghai</span>
                </a>
            </li>
            <li>
                <a href="search/venue/cid/hotels" id="where-to-stay">
                    <h3>Where to stay</h3>
                    <span>Find a hotel in Shanghai</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="search2">
        <input type="text" placeholder="Where am I now..." class="so1"/><input type="button" value="" class="so2" />
        <p class="zhushi">Check your current location by typing street names, hotel names, attraction names, etc.</p>
    </div>
    <div class="model1">
        <div class="mtitle"><h3><a class="biaoti" href="#">My favorites</a></h3><a class="smap" href="#">See on map></a></div>
        <ul class="lis1">
            <li><a href="#">1.The Bund</a></li>
            <li><a href="#">2.The Bund</a></li>
            <li><a href="#">3.The Bund</a></li>
            <li><a href="#">4.The Bund</a></li>
            <li><a href="#">5.The Bund</a></li>
        </ul>
        <a class="more" href="#">More >></a>
    </div>
    <!--{if $config[env][controller]==='home'&&$config[env][method]==='index'}-->
    <div class="model1">
        <div class="mtitle"><h3><a class="biaoti" href="#">Hot Spots</a></h3></div>
        <ul class="lis1">
            <li><a href="#">1.The Bund</a></li>
            <li><a href="#">2.The Bund</a></li>
            <li><a href="#">3.The Bund</a></li>
            <li><a href="#">4.The Bund</a></li>
        </ul>
        <a class="more" href="#">More >></a>
    </div><!--{/if}-->
    
    
    <div class="way">
        <a href="#">
            <h3>Ways to the airports</h3>
            <span>See which way is the most suitable to you</span>
        </a>
    </div>

</div>