<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Guide of Shanghai</title>
<link rel="stylesheet" type="text/css" href="../css/topfoot.css" />
<link rel="stylesheet" type="text/css" href="../css/about.css" />
</head>

<body>
    <!--top-->
	<div class="top">
    	<div class="welcome-bg">
            <div class="welcome">
                <div class="login">
                    <a href="#">Login</a>|<a href="#">Sign up</a>
                </div>
                <p class="w1">Welcome to SH</p>
            </div>
        </div>
        <div class="logo-bg">
        	<a href="#" class="logo"><img src="../images/topfoot/logo2.jpg" alt="Guide of SH"/></a>
            <div class="search">
                <input type="text" value="name of attractions, restaurants, hotels, etc" class="s1" /><input type="button" value="" class="s2" />
            </div>
        </div>
        <div class="navs">
        	<ul>
            	<li><a href="#">Home</a></li>
            	<li><a class="nav-on" href="#">About Shanghai</a></li>
            	<li><a href="#">Attractions</a></li>
            	<li><a href="#">Dining</a></li>
            	<li><a href="#">Night Life</a></li>
            	<li><a href="#">Hotels</a></li>
            	<li><a href="#">Shopping</a></li>
            	<li><a href="#">Listings</a></li>
            </ul>
        </div>
    </div>
    <!--top-->
    
    <!--content-->
    <div class="content">
        <div class="c-down">
        	<div class="cd-left">
            	<div class="where">
                	<ul>
                    	<li>
                        	<a href="#">
                            	<h3>Where to Eat</h3>
                                <span>Find a hotel in Shanghai</span>
                            </a>
                        </li>
                    	<li>
                        	<a href="#">
                            	<h3>Where to have drinks</h3>
                                <span>Find a hotel in Shanghai</span>
                            </a>
                        </li>
                    	<li>
                        	<a href="#">
                            	<h3>Where to stay</h3>
                                <span>Find a hotel in Shanghai</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="search2">
                	<input type="text" value="Where am I now..." class="so1"/><input type="button" value="" class="so2" />
                    <p class="zhushi">Check your current location by typing street names, hotel names, attraction names, etc.</p>
                </div>
                <div class="model1">
                	<div class="mtitle"><h3><a class="biaoti" href="#">My favorites</a></h3><a class="smap" href="#">See on map></a></div>
                    <ul class="lis1">
                    	<li><a href="#">1.The Bund</a></li>
                    	<li><a href="#">2.The Bund</a></li>
                    	<li><a href="#">3.The Bund</a></li>
                    	<li><a href="#">4.The Bund</a></li>
                    	<li><a href="#">5.The Bund</a></li>
                    </ul>
                    <a class="more" href="#">More >></a>
                </div>
            </div>
            <div class="c-mid">
            	<h1>Shanghai Background</h1>
                <img src="/images/img.jpg" alt="" />
                <p>In a country with roughly five millennia of continuous history under its belt, Shanghai is a relative newcomer. During the first few centuries of its existence it was a mere fishing village. It wasn't until the year 1074 under the Song Dynasty that it was promoted to "market town" status. And it took almost another millenium before the newly-established Republican government would finally own up and call it a "city" in 1927. Before then, it had a lowly designation as "county seat" for the Songjiang Prefecture.</p>
                <img src="/images/img.jpg" alt="" />
                <p>In a country with roughly five millennia of continuous history under its belt, Shanghai is a relative newcomer. During the first few centuries of its existence it was a mere fishing village. It wasn't until the year 1074 under the Song Dynasty that it was promoted to "market town" status. And it took almost another millenium before the newly-established Republican government would finally own up and call it a "city" in 1927. Before then, it had a lowly designation as "county seat" for the Songjiang Prefecture.</p>
            </div>
            <div class="c-right">
            	<h2>Want to know more about SH?</h2>
                <div class="xg-info">
                	<h3>Go to:</h3>
                    <ul>
                    	<li>
                        	<div class="xg-list">
                            	<a href="#" class="list-left"><img src="../images/img2.jpg" alt="" /></a>
                                <div class="list-right">
                                	<h4><a href="#">Jing'an Temple</a></h4>
                                    <p>Jing'an Temple has been around in at least some form for nearly two millennia. It's first incarnation was built near the banks of Suzhou Creek in AD 247 during the Warring States Period. It was finall...</p>
                                </div>
                            </div>
                        </li>
                    	<li>
                        	<div class="xg-list">
                            	<a href="#" class="list-left"><img src="../images/img2.jpg" alt="" /></a>
                                <div class="list-right">
                                	<h4><a href="#">Jing'an Temple</a></h4>
                                    <p>Jing'an Temple has been around in at least some form for nearly two millennia. It's first incarnation was built near the banks of Suzhou Creek in AD 247 during the Warring States Period. It was finall...</p>
                                </div>
                            </div>
                        </li>
                    	<li>
                        	<div class="xg-list">
                            	<a href="#" class="list-left"><img src="../images/img2.jpg" alt="" /></a>
                                <div class="list-right">
                                	<h4><a href="#">Jing'an Temple</a></h4>
                                    <p>Jing'an Temple has been around in at least some form for nearly two millennia. It's first incarnation was built near the banks of Suzhou Creek in AD 247 during the Warring States Period. It was finall...</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <p class="more3"><a href="#">More >></a></p>
                </div>
                <div class="xg-info">
                	<h3>Other Art Zones:</h3>
                    <ul>
                    	<li>
                        	<div class="xg-list">
                            	<a href="#" class="list-left"><img src="../images/img2.jpg" alt="" /></a>
                                <div class="list-right">
                                	<h4><a href="#">Jing'an Temple</a></h4>
                                    <p>Jing'an Temple has been around in at least some form for nearly two millennia. It's first incarnation was built near the banks of Suzhou Creek in AD 247 during the Warring States Period. It was finall...</p>
                                </div>
                            </div>
                        </li>
                    	<li>
                        	<div class="xg-list">
                            	<a href="#" class="list-left"><img src="../images/img2.jpg" alt="" /></a>
                                <div class="list-right">
                                	<h4><a href="#">Jing'an Temple</a></h4>
                                    <p>Jing'an Temple has been around in at least some form for nearly two millennia. It's first incarnation was built near the banks of Suzhou Creek in AD 247 during the Warring States Period. It was finall...</p>
                                </div>
                            </div>
                        </li>
                    	<li>
                        	<div class="xg-list">
                            	<a href="#" class="list-left"><img src="../images/img2.jpg" alt="" /></a>
                                <div class="list-right">
                                	<h4><a href="#">Jing'an Temple</a></h4>
                                    <p>Jing'an Temple has been around in at least some form for nearly two millennia. It's first incarnation was built near the banks of Suzhou Creek in AD 247 during the Warring States Period. It was finall...</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <p class="more3"><a href="#">More >></a></p>
                </div>
            </div>
            
            
            <div style="clear:both;"></div>
        </div>
    </div>
    
    <!--content-->
    
    <!--foot-->
    <div class="footer">
      <!--<div class="footcmd"><a href="/add/events">POST AN EVENTS</a>
        <a href="/add/venue">POST A LISTING</a></div>-->
        <div class="cr">
            <p>All rights Reserved. <a href="/">GUIDE OF SHANGHAI</a> - Shanghai Tangsen Advertising Co., Ltd.</p>
            <p>Contact us: 021-52068511 / <a href="mailto:info@guideofshanghai.com">info@guideofshanghai.com</a> -
            <a target="_blank" href="http://www.miibeian.gov.cn">沪ICP备12043399号</a></p>
        </div>
    </div>
    <!--foot-->
    
</body>
</html>
