{template header} 
    <div class="content">
        <div class="c-down">
        	{template widget/pleft}
            <div class="c-mid"{if !$lc[typeid]} style="width:725px"{/if}>
            	<h1>{$lc[catename]}</h1>
                {$lc[content]}
            </div>
            <!--{if $lc[typeid]}-->
            <div class="c-right">
                <!--{if intval($lc[id]) === 1}-->
                <div class="browse">
                    <h3>Know more about SH</h3>
                    <div class="bro-list">
                        <ul>
                        	<!--{list archives=mid/3/attrib/4/tid/#lc[typeid]#/limit/6}-->
                            <li><a href="{$one[link]}">{$one[fulltitle]}</a></li>
                            <!--{/list}-->
                        </ul>
                        <a class="all" href="{url search/venue/tid/$lc[typeid]}">More >></a>
                    </div>
                </div><!--{/if}-->
                <div class="browse">
                	<h3>Browse by cuisine</h3>
                    <div class="bro-list">
                        <ul>
                        	<!--{list cp.tree=do/dget/id/#lc[typeid]#/key/hot property=tid/venue}-->
                            <!--{eval $tree_root = $this->cp->tree->get($one[pid]);}-->
                            <li><a href="{url search/venue/tid/$one[id]}">{$one[dataname]} <i>({$tree_root[dataname]})</i></a></li>
                            <!--{/list}-->
                        </ul>
                        <a class="all" href="{url search/venue/tid/$lc[typeid]}">More >></a>
                    </div>
                </div>
                <div class="browse">
                	<h3>Browse by area</h3>
                    <div class="bro-list">
                        <ul>
                        	<!--{list cp.tree=do/all/key/hot property=tid/region}-->
                            <!--{eval $tree_root = $this->cp->tree->get($one[rootid]);}-->
                            <li><a href="{url search/venue/tid/$lc[typeid]/region/$one[id]}">{$one[dataname]} <i>({$tree_root[dataname]})</i></a></li>
                            <!--{/list}-->
                        </ul>
                        <a class="all" href="{url search/venue/tid/$lc[typeid]}">More >></a>
                    </div>
                </div>
            </div><!--{/if}-->
            <div style="clear:both;"></div>
        </div>
    </div>
<!--{if $lc[ubb_tags]}-->
<script type="text/x-jquery-tmpl" id="venue-tmpl">
<fieldset class="ubbdata fdatavenue">
  <legend>${fulltitle}</legend>
  <a class="picthumb" href="${link}"><img src="${thumb}" /></a>
  <ul>
    <li class="daddress">${enaddr}<br />${cnaddr}</li>
    <li class="description">${description} <a href="${link}" class="more">Full listing&raquo;</a></li>
  </ul>
</fieldset>
</div>
</script>
<script type="text/javascript" src="0/jslib/jquery.ubbcode.js"></script>
<script type="text/javascript">
$(function(){
	$('.ubbparse').ubbparse('{echo str_replace(",","|",$lc[ubb_tags])}','{echo url("search/index")}',{thumb:'small'});
});
</script>
<!--{/if}-->
<script type="text/javascript">
$(function(){
	$('.dload a').iscroll(parseInt($('.c-mid').outerWidth(false),10)-($('.c-right:visible').length>0?50:100),
	function(){
		$(this).parent().removeClass('dload');
	});
	if ($('.c-mid .localimg').length>0 || $('.tabpic').length>0){
		/*$.include('{$config[site][static_path][0]}scripts/fancybox/jquery.fancybox-1.3.4.css');
		$.getScript('{$config[site][static_path][0]}scripts/fancybox/jquery.fancybox-1.3.4.pack.js',
		function(){
			$('[rel=gallery]').fancybox();
		});*/
	}
});
</script>
{template footer}