{template header} 
    <div class="content">
        <div class="c-down">
        	{template widget/pleft}
            <div class="c-mid">
            	<h1>{$lc[catename]}</h1>
                {$lc[content]}
            </div>
            <!--{if $lc[venue_type]}-->
            <div class="c-right">
                <div class="browse">
                	<h3>Browse by cuisine</h3>
                    <div class="bro-list">
                        <ul>
                        	<!--{list cp.tree=do/dget/id/#lc[venue_type]#/key/hot property=tid/venue}-->
                            <!--{eval $tree_root = $this->cp->tree->get($one[rootid]);}-->
                            <li><a href="{url search/venue/tid/$one[id]}">{$one[dataname]} <i>({$tree_root[dataname]})</i></a></li>
                            <!--{/list}-->
                        </ul>
                        <a class="all" href="{url search/venue/tid/$lc[venue_type]}">More >></a>
                    </div>
                </div>
                <div class="browse">
                	<h3>Browse by area</h3>
                    <div class="bro-list">
                        <ul>
                        	<!--{list cp.tree=do/dget/id/#lc[venue_type]#/key/hot property=tid/region}-->
                            <!--{eval $tree_root = $this->cp->tree->get($one[rootid]);}-->
                            <li><a href="{url search/venue/tid/$lc[venue_type]/area/$one[id]}">{$one[dataname]} <i>({$tree_root[dataname]})</i></a></li>
                            <!--{/list}-->
                        </ul>
                        <a class="all" href="{url search/venue/tid/$lc[venue_type]}">More >></a>
                    </div>
                </div>
            </div><!--{/if}-->
            <div style="clear:both;"></div>
        </div>
    </div>
<script type="text/javascript">
$(function(){
	$('.dload a').iscroll(parseInt($('.c-mid').outerWidth(false),10)-($('.c-right:visible').length>0?100:180),
	function(){
		$(this).parent().removeClass('dload');
	});
	if ($('.c-mid .localimg').length>0 || $('.tabpic').length>0){
		$.include('{$config[site][static_path][0]}scripts/fancybox/jquery.fancybox-1.3.4.css');
		$.getScript('{$config[site][static_path][0]}scripts/fancybox/jquery.fancybox-1.3.4.pack.js',
		function(){
			$('[rel=gallery]').fancybox();
		});
	}
});
</script>
{template footer}