<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Guide of Shanghai</title>
<link rel="stylesheet" type="text/css" href="../css/topfoot.css" />
<link rel="stylesheet" type="text/css" href="../css/details.css" />
</head>

<body>
    <!--top-->
	<div class="top">
    	<div class="welcome-bg">
            <div class="welcome">
                <div class="login">
                    <a href="#">Login</a>|<a href="#">Sign up</a>
                </div>
                <p class="w1">Welcome to SH</p>
            </div>
        </div>
        <div class="logo-bg">
        	<a href="#" class="logo"><img src="../images/topfoot/logo2.jpg" alt="Guide of SH"/></a>
            <div class="search">
                <input type="text" value="name of attractions, restaurants, hotels, etc" class="s1" /><input type="button" value="" class="s2" />
            </div>
        </div>
        <div class="navs">
        	<ul>
            	<li><a href="#">Home</a></li>
            	<li><a href="#">About Shanghai</a></li>
            	<li><a href="#">Attractions</a></li>
            	<li><a class="nav-on" href="#">Dining</a></li>
            	<li><a href="#">Night Life</a></li>
            	<li><a href="#">Hotels</a></li>
            	<li><a href="#">Shopping</a></li>
            	<li><a href="#">Listings</a></li>
            </ul>
        </div>
    </div>
    <!--top-->
    
    <!--content-->
    <div class="content">
        <div class="c-down">
            <div class="c-left">
            	<div class="weizhi">
                	<a href="#">Home</a><span>></span><a href="#">Listing</a><span>></span><a href="#">Restaurants</a><span>></span><a href="#">Chinese</a><span>>List</span>
                </div>
            	<div class="quyu">
                	<div class="quyu1">
                    	<div class="cuisine">CUISINE</div>
                        <div class="all-list">
                        	<div class="moren-left">All</div>
                            <a href="#" class="moren-arrow"><img src="../images/commom/arrow.gif" /></a>
                        </div>
                    </div>
                	<div class="quyu2">
                    	<div class="cuisine">AREA</div>
                        <div class="all-list">
                        	<div class="moren-left">All</div>
                            <a href="#" class="moren-arrow"><img src="../images/commom/arrow.gif" /></a>
                        </div>
                    </div>
                	<div class="quyu3">
                    	<div class="cuisine">TAG</div>
                        <div class="all-list">
                        	<div class="moren-left">All</div>
                            <a href="#" class="moren-arrow"><img src="../images/commom/arrow.gif" /></a>
                        </div>
                        <div class="queding"><a href="#">Search</a></div>
                    </div>
                </div>
                <div class="price">
                	Price:
                    <input type="checkbox" name="" value="" />
                    Under 50rmb
                    <input type="checkbox" name="" value="" />
                    50-150rmb
                    <input type="checkbox" name="" value="" />
                    150-300rmb 
                    <input type="checkbox" name="" value="" />
                    300-500rmb 
                    <input type="checkbox" name="" value="" />
                    500rmb and up
                </div>
                <div class="arcdata">
                    <div class="archead">
                        <h2>Shanghai Uncle (Bund Center)</h2>
                        <h3>海上阿叔 (外滩)</h3>
                    </div>
                    <div class="datacontent">
                        <ul>
                            <li><label>Rate:</label><span class="ib rate40"></span></li>
                            <li><label>Price:</label><span class="ib price20"></span></li>
                            <li><label>Address:</label><p>Bund Center, 222 Yan'an Dong Lu, by Jiangxi Zhong Lu<br />
                            延安东路222号外滩中心, 近江西中路</p></li>
                            <li><label>Phone/Mobile:</label><strong>6339 1977</strong></li>
                            <li><label>Website:</label><a class="website" href="#">http://www.hooterschina.com</a></li>
                            <li><a class="favor" href="#">Add to my favorites</a></li>
                        </ul>
                        <p class="miaoshu">Knockers and wings in Pudong, where men can be men and girls giggle a lot.</p>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <!--查看部分图片-->
                <div class="pictures" style="display:;">
                    <div class="big-img">
                    	<a href="#" class="images"><img src="../images/img11.jpg" alt="" /></a>
                        <a href="#" class="arrow-left"></a>
                        <a href="#" class="arrow-right"></a>
                    </div>
                    <div class="small-img">
                    	<a class="left-ar" href="#"></a>
                        <ul>
                        	<li><a href="#"><img src="../images/img11.jpg" /></a></li>
                        	<li><a href="#"><img src="../images/img11.jpg" /></a></li>
                        	<li><a href="#"><img src="../images/img11.jpg" /></a></li>
                        	<li><a href="#"><img src="../images/img11.jpg" /></a></li>
                        	<li><a href="#"><img src="../images/img11.jpg" /></a></li>
                        	<li><a href="#"><img src="../images/img11.jpg" /></a></li>
                        </ul>
                    	<a class="right-ar" href="#"></a>
                    </div>
                    <div class="seeall"><a href="#">See all photos>></a></div>
                </div>
                <!--查看部分图片-->
                <!--查看全部图片-->
                <div class="image-all" style="display:;">
                	<ul>
                    	<li>
                        	<a href="#" class="imgss"><img src="../images/img12.jpg" /></a>
                            <a href="#" class="img-name">Zhongshan Park</a>
                        </li>
                    	<li>
                        	<a href="#" class="imgss"><img src="../images/img12.jpg" /></a>
                            <a href="#" class="img-name">Zhongshan Park</a>
                        </li>
                    	<li>
                        	<a href="#" class="imgss"><img src="../images/img12.jpg" /></a>
                            <a href="#" class="img-name">Zhongshan Park</a>
                        </li>
                    	<li>
                        	<a href="#" class="imgss"><img src="../images/img12.jpg" /></a>
                            <a href="#" class="img-name">Zhongshan Park</a>
                        </li>
                    	<li>
                        	<a href="#" class="imgss"><img src="../images/img12.jpg" /></a>
                            <a href="#" class="img-name">Zhongshan Park</a>
                        </li>
                    	<li>
                        	<a href="#" class="imgss"><img src="../images/img12.jpg" /></a>
                            <a href="#" class="img-name">Zhongshan Park</a>
                        </li>
                    	<li>
                        	<a href="#" class="imgss"><img src="../images/img12.jpg" /></a>
                            <a href="#" class="img-name">Zhongshan Park</a>
                        </li>
                    	<li>
                        	<a href="#" class="imgss"><img src="../images/img12.jpg" /></a>
                            <a href="#" class="img-name">Zhongshan Park</a>
                        </li>
                    	<li>
                        	<a href="#" class="imgss"><img src="../images/img12.jpg" /></a>
                            <a href="#" class="img-name">Zhongshan Park</a>
                        </li>
                    </ul>
                    <div style="clear:both;"></div>
                </div>
                <div class="page" style="display:;">
                	<span class="yema"><em>1~10</em><b>197</b></span>
                    <div class="pages">
                    	<ul>
                        	<li class="prev"><span><</span></li>
                        	<li class="page-start"><span>1</span></li>
                        	<li><a href="#">2</a></li>
                        	<li><a href="#">3</a></li>
                        	<li><a href="#">4</a></li>
                        	<li><a href="#">5</a></li>
                        	<li><a href="#">6</a></li>
                        	<li><a href="#">7</a></li>
                        	<li><a href="#">8</a></li>
                        	<li><a href="#">9</a></li>
                        	<li class="end"><a href="#">10</a></li>
                        	<li class="page-next"><a href="#">></a></li>
                        </ul>
                    </div>
                </div>
                <!--查看全部图片-->
                <div class="pinlun">
                	<div class="comment">
                    	<a class="zan" href="#">Comments(<i>5</i>)</a>
                    </div>
                    <div class="saysth">
                        <textarea>Say something...</textarea>
                        <p><a href="#">Login</a>or<a href="#">SignUp</a></p>
                    </div>
                    <div style="clear:both;"></div>
                    <div class="liuyan">
                    	<ul>
                        	<li>
                            	<div class="left-img">
                                	<a href="#"><img src="../images/img2.jpg" /></a>
                                </div>
                                <div class="right-info">
                                	<h3>EvaCCQ<span class="date">Mar 31, 13</span></h3>
                                    <p>nteresting and cosy looking bistro with quality food</p>
                                </div>
                            </li>
                        	<li>
                            	<div class="left-img">
                                	<a href="#"><img src="../images/img2.jpg" /></a>
                                </div>
                                <div class="right-info">
                                	<h3>EvaCCQ<span class="date">Mar 31, 13</span></h3>
                                    <p>nteresting and cosy looking bistro with quality food</p>
                                </div>
                            </li>
                        	<li>
                            	<div class="left-img">
                                	<a href="#"><img src="../images/img2.jpg" /></a>
                                </div>
                                <div class="right-info">
                                	<h3>EvaCCQ<span class="date">Mar 31, 13</span></h3>
                                    <p>nteresting and cosy looking bistro with quality food</p>
                                </div>
                            </li>
                        </ul>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
                
            <div class="c-right">
            	<div class="map">
                	<img src="../images/ditu.jpg" />
                    <div class="seebig">
                    	<a href="#">See on bigger map</a>
                    </div>
                </div>
                <div class="xg-info">
                	<h3>You may also like:</h3>
                    <ul>
                    	<li>
                        	<div class="xg-list">
                            	<a href="#" class="list-left"><img src="../images/img2.jpg" alt="" /></a>
                                <div class="list-right">
                                	<h4><a href="#">Jing'an Temple</a></h4>
                                    <span class="ib rate45"></span>
                                    <p>Jing'an Temple has been around in at least some form for nearly two millennia. It's first incarnation was built near the banks of Suzhou Creek in AD 247 during the Warring States Period. It was finall...</p>
                                </div>
                            </div>
                        </li>
                    	<li>
                        	<div class="xg-list">
                            	<a href="#" class="list-left"><img src="../images/img2.jpg" alt="" /></a>
                                <div class="list-right">
                                	<h4><a href="#">Jing'an Temple</a></h4>
                                    <span class="ib rate45"></span>
                                    <p>Jing'an Temple has been around in at least some form for nearly two millennia. It's first incarnation was built near the banks of Suzhou Creek in AD 247 during the Warring States Period. It was finall...</p>
                                </div>
                            </div>
                        </li>
                    	<li>
                        	<div class="xg-list">
                            	<a href="#" class="list-left"><img src="../images/img2.jpg" alt="" /></a>
                                <div class="list-right">
                                	<h4><a href="#">Jing'an Temple</a></h4>
                                    <span class="ib rate45"></span>
                                    <p>Jing'an Temple has been around in at least some form for nearly two millennia. It's first incarnation was built near the banks of Suzhou Creek in AD 247 during the Warring States Period. It was finall...</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <p class="more3"><a href="#">More >></a></p>
                </div>
                <div class="xg-info">
                	<h3>Also in this area:</h3>
                    <ul>
                    	<li>
                        	<div class="xg-list">
                            	<a href="#" class="list-left"><img src="../images/img2.jpg" alt="" /></a>
                                <div class="list-right">
                                	<h4><a href="#">Jing'an Temple</a></h4>
                                    <span class="ib rate45"></span>
                                    <p>Jing'an Temple has been around in at least some form for nearly two millennia. It's first incarnation was built near the banks of Suzhou Creek in AD 247 during the Warring States Period. It was finall...</p>
                                </div>
                            </div>
                        </li>
                    	<li>
                        	<div class="xg-list">
                            	<a href="#" class="list-left"><img src="../images/img2.jpg" alt="" /></a>
                                <div class="list-right">
                                	<h4><a href="#">Jing'an Temple</a></h4>
                                    <span class="ib rate45"></span>
                                    <p>Jing'an Temple has been around in at least some form for nearly two millennia. It's first incarnation was built near the banks of Suzhou Creek in AD 247 during the Warring States Period. It was finall...</p>
                                </div>
                            </div>
                        </li>
                    	<li>
                        	<div class="xg-list">
                            	<a href="#" class="list-left"><img src="../images/img2.jpg" alt="" /></a>
                                <div class="list-right">
                                	<h4><a href="#">Jing'an Temple</a></h4>
                                    <span class="ib rate45"></span>
                                    <p>Jing'an Temple has been around in at least some form for nearly two millennia. It's first incarnation was built near the banks of Suzhou Creek in AD 247 during the Warring States Period. It was finall...</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <p class="more3"><a href="#">More >></a></p>
                </div>
                <div class="model1">
                	<div class="mtitle"><h3><a class="biaoti" href="#">Hot Restaurants</a></h3></div>
                    <a class="see-img" href="#"><img src="../images/img11.jpg" alt="" /></a>
                    <ul class="lis1">
                    	<li><a href="#">1.La Poste</a></li>
                    	<li><a href="#">2.Pistacchio</a></li>
                    	<li><a href="#">3.Fifty 8° Grill</a></li>
                    	<li><a href="#">4.Napa 2.0</a></li>
                    	<li><a href="#">5.Manigua</a></li>
                    	<li><a href="#">6.Mexo at the Bund</a></li>
                    	<li><a href="#">7.The Commune Social</a></li>
                    	<li><a href="#">8.Kathleen's Waitan</a></li>
                    </ul>
                    <a class="more" href="#">More of The Radar >></a>
                </div>
                <div class="model1">
                	<div class="mtitle"><h3><a class="biaoti" href="#">Newly Opened</a></h3></div>
                    <a class="see-img" href="#"><img src="../images/img11.jpg" alt="" /></a>
                    <ul class="lis1">
                    	<li><a href="#">1.La Poste</a></li>
                    	<li><a href="#">2.Pistacchio</a></li>
                    	<li><a href="#">3.Fifty 8° Grill</a></li>
                    	<li><a href="#">4.Napa 2.0</a></li>
                    	<li><a href="#">5.Manigua</a></li>
                    	<li><a href="#">6.Mexo at the Bund</a></li>
                    	<li><a href="#">7.The Commune Social</a></li>
                    	<li><a href="#">8.Kathleen's Waitan</a></li>
                    </ul>
                    <a class="more" href="#">More of The Radar >></a>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
    <!--content-->
    
    <!--foot-->
    <div class="footer">
      <!--<div class="footcmd"><a href="/add/events">POST AN EVENTS</a>
        <a href="/add/venue">POST A LISTING</a></div>-->
        <div class="cr">
            <p>All rights Reserved. <a href="/">GUIDE OF SHANGHAI</a> - Shanghai Tangsen Advertising Co., Ltd.</p>
            <p>Contact us: 021-52068511 / <a href="mailto:info@guideofshanghai.com">info@guideofshanghai.com</a> -
            <a target="_blank" href="http://www.miibeian.gov.cn">沪ICP备12043399号</a></p>
        </div>
    </div>
    <!--foot-->
    
</body>
</html>
