<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Guide of Shanghai</title>
<link rel="stylesheet" type="text/css" href="../css/topfoot.css" />
<link rel="stylesheet" type="text/css" href="../css/list.css" />
</head>

<body>
    <!--top-->
	<div class="top">
    	<div class="welcome-bg">
            <div class="welcome">
                <div class="login">
                    <a href="#">Login</a>|<a href="#">Sign up</a>
                </div>
                <p class="w1">Welcome to SH</p>
            </div>
        </div>
        <div class="logo-bg">
        	<a href="#" class="logo"><img src="../images/topfoot/logo2.jpg" alt="Guide of SH"/></a>
            <div class="search">
                <input type="text" value="name of attractions, restaurants, hotels, etc" class="s1" /><input type="button" value="" class="s2" />
            </div>
        </div>
        <div class="navs">
        	<ul>
            	<li><a href="#">Home</a></li>
            	<li><a href="#">About Shanghai</a></li>
            	<li><a href="#">Attractions</a></li>
            	<li><a href="#">Dining</a></li>
            	<li><a href="#">Night Life</a></li>
            	<li><a href="#">Hotels</a></li>
            	<li><a href="#">Shopping</a></li>
            	<li><a class="nav-on" href="#">Listings</a></li>
            </ul>
        </div>
    </div>
    <!--top-->
    
    <!--content-->
    <div class="content">
        <div class="c-down">
        	<div class="cd-left">
            	<div class="where">
                	<ul>
                    	<li>
                        	<a href="#">
                            	<h3>Where to Eat</h3>
                                <span>Find a hotel in Shanghai</span>
                            </a>
                        </li>
                    	<li>
                        	<a href="#">
                            	<h3>Where to have drinks</h3>
                                <span>Find a hotel in Shanghai</span>
                            </a>
                        </li>
                    	<li>
                        	<a href="#">
                            	<h3>Where to stay</h3>
                                <span>Find a hotel in Shanghai</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="search2">
                	<input type="text" value="Where am I now..." class="so1"/><input type="button" value="" class="so2" />
                    <p class="zhushi">Check your current location by typing street names, hotel names, attraction names, etc.</p>
                </div>
                <div class="model1">
                	<div class="mtitle"><h3><a class="biaoti" href="#">My favorites</a></h3><a class="smap" href="#">See on map></a></div>
                    <ul class="lis1">
                    	<li><a href="#">1.The Bund</a></li>
                    	<li><a href="#">2.The Bund</a></li>
                    	<li><a href="#">3.The Bund</a></li>
                    	<li><a href="#">4.The Bund</a></li>
                    	<li><a href="#">5.The Bund</a></li>
                    </ul>
                    <a class="more" href="#">More >></a>
                </div>
            </div>
            <div class="c-mid">
            	<div class="weizhi">
                	<a href="#">Home</a><span>>Listing</span>
                </div>
                <div class="fenlei">
                	<h3><a href="#">Sights & View</a></h3>
                    <table width="100%">
                    	<tbody>
                        	<tr>
                            	<td><a href="#">Hot Spots</a></td>
                                <td><a href="#">Famous Buildings</a></td>
                                <td><a href="#">Arts Streets</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">The suburbs</a></td>
                                <td><a href="#">Parks</a></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                	<h3><a href="#">Restaurants</a></h3>
                    <table>
                    	<tbody>
                        	<tr>
                            	<td><a href="#">Chinese</a></td>
                                <td><a href="#">American</a></td>
                                <td><a href="#">African</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">Australian</a></td>
                                <td><a href="#">Bakery</a></td>
                                <td><a href="#">Bistro</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">Barbecue</a></td>
                                <td><a href="#">Cafe</a></td>
                                <td><a href="#">Deli Shop</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">Delivery</a></td>
                                <td><a href="#">Dessert</a></td>
                                <td><a href="#">English</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">Contemporary Western</a></td>
                                <td><a href="#">Fine Dining</a></td>
                                <td><a href="#">French</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">German</a></td>
                                <td><a href="#">Greek/Mediterranean</a></td>
                                <td><a href="#">Indian</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">Southeast Asian</a></td>
                                <td><a href="#">Italian</a></td>
                                <td><a href="#">Japanese</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">Korean</a></td>
                                <td><a href="#">Latin American</a></td>
                                <td><a href="#">Mexican</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">Middle Eastern</a></td>
                                <td><a href="#">Morden</a></td>
                                <td><a href="#">Nepalese</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">Pizza</a></td>
                                <td><a href="#">Steakhouse</a></td>
                                <td><a href="#">Swiss</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">Tea House</a></td>
                                <td><a href="#">Turkish</a></td>
                                <td><a href="#">Vegetarian</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">Vietnamese</a></td>
                                <td><a href="#">Sandwich</a></td>
                                <td><a href="#">Contemporary Asian</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">Hotel Restaurant</a></td>
                                <td><a href="#">Organic Restaurant</a></td>
                                <td><a href="#">Deli</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">Cakes</a></td>
                                <td><a href="#">Ice Cream</a></td>
                                <td><a href="#">Moroccan</a></td>
                            </tr>
                        </tbody>
                    </table>
                	<h3><a href="#">Night Life</a></h3>
                    <table>
                    	<tbody>
                        	<tr>
                            	<td><a href="#">Bar</a></td>
                                <td><a href="#">Club</a></td>
                                <td><a href="#">Hotel Lobby Bar</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">Live Music</a></td>
                                <td><a href="#">Outdoor Seating</a></td>
                                <td><a href="#">Dive Bar</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">Pub</a></td>
                                <td><a href="#">Sports Bar</a></td>
                                <td><a href="#">Wine Bar</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">Lounge</a></td>
                                <td><a href="#">Private Club</a></td>
                                <td><a href="#">KTV</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">Bar in Hotel</a></td>
                                <td><a href="#">Cocktail Bar</a></td>
                                <td><a href="#">Beer Bar</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">Cigar Lounge</a></td>
                                <td><a href="#">Sake Bar</a></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                	<h3><a href="#">Hotels</a></h3>
                    <table>
                    	<tbody>
                        	<tr>
                            	<td><a href="#">Luxury Hotels</a></td>
                                <td><a href="#">Boutique Hotels</a></td>
                                <td><a href="#">Budget Hotels</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">Bed & Breakfast</a></td>
                                <td><a href="#">Resorts</a></td>
                                <td><a href="#">Service Apartments</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">4 stars Hotels</a></td>
                                <td><a href="#">3 stars Hotels</a></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                	<h3><a href="#">Massage & Spa</a></h3>
                	<h3><a href="#">Shopping</a></h3>
                    <table>
                    	<tbody>
                        	<tr>
                            	<td><a href="#">Shopping Mall</a></td>
                                <td><a href="#">Supermarket</a></td>
                                <td><a href="#">Shopping Center</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">Boutique</a></td>
                                <td><a href="#">Wine Store & Wine Cellar</a></td>
                                <td><a href="#">Shopping Street</a></td>
                            </tr>
                        </tbody>
                    </table>
                	<h3><a href="#">Community & Life</a></h3>
                    <table>
                    	<tbody>
                        	<tr>
                            	<td><a href="#">Healthcare</a></td>
                                <td><a href="#">Education</a></td>
                                <td><a href="#">Housekeeping</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">Real Estate Agents</a></td>
                                <td><a href="#">Car Rental Service</a></td>
                                <td><a href="#">Sports</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">Jobs</a></td>
                                <td><a href="#">Tailors</a></td>
                                <td><a href="#">Consulates</a></td>
                            </tr>
                        	<tr>
                            	<td><a href="#">Hairdressers</a></td>
                                <td><a href="#">Cinemas</a></td>
                                <td></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="c-right">
                <div class="banner">
                	<a href="#"><img src="../images/banner1.jpg" /></a>
                	<a href="#"><img src="../images/banner2.jpg" /></a>
                </div>
            </div>
            
            
            <div style="clear:both;"></div>
        </div>
    </div>
    
    <!--content-->
    
    <!--foot-->
    <div class="footer">
      <!--<div class="footcmd"><a href="/add/events">POST AN EVENTS</a>
        <a href="/add/venue">POST A LISTING</a></div>-->
        <div class="cr">
            <p>All rights Reserved. <a href="/">GUIDE OF SHANGHAI</a> - Shanghai Tangsen Advertising Co., Ltd.</p>
            <p>Contact us: 021-52068511 / <a href="mailto:info@guideofshanghai.com">info@guideofshanghai.com</a> -
            <a target="_blank" href="http://www.miibeian.gov.cn">沪ICP备12043399号</a></p>
        </div>
    </div>
    <!--foot-->
    
</body>
</html>
