<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Guide of Shanghai</title>
<link rel="stylesheet" type="text/css" href="../css/topfoot.css" />
<link rel="stylesheet" type="text/css" href="../css/mycenter.css" />
</head>

<body>
    <!--top-->
	<div class="top">
    	<div class="welcome-bg">
            <div class="welcome">
                <div class="login">
                    <a href="#">Login</a>|<a href="#">Sign up</a>
                </div>
                <p class="w1">Welcome to SH</p>
            </div>
        </div>
        <div class="logo-bg">
        	<a href="#" class="logo"><img src="../images/topfoot/logo2.jpg" alt="Guide of SH"/></a>
            <div class="search">
                <input type="text" value="name of attractions, restaurants, hotels, etc" class="s1" /><input type="button" value="" class="s2" />
            </div>
        </div>
        <div class="navs">
        	<ul>
            	<li><a href="#">Home</a></li>
            	<li><a class="nav-on" href="#">About Shanghai</a></li>
            	<li><a href="#">Attractions</a></li>
            	<li><a href="#">Dining</a></li>
            	<li><a href="#">Night Life</a></li>
            	<li><a href="#">Hotels</a></li>
            	<li><a href="#">Shopping</a></li>
            	<li><a href="#">Listings</a></li>
            </ul>
        </div>
    </div>
    <!--top-->
    
    <!--content-->
    <div class="content">
        <div class="c-down">
        	<div class="cd-left">
            	<h2>Sheilayy</h2>
                <div class="head">
                    <a class="head-img" href="#"><img src="../images/mycenter/img1.gif" /></a>
                    <a class="upload" href="#" style="display:none;">Upload Image</a><!--鼠标移上去显示-->
                </div>
                <a class="button" href="#">Change Info</a>
            </div>
            <div class="c-right">
            	<div class="right-info">
                    <div class="title-nav">
                        <ul>
                            <li><a class="tnav-on" href="#">My favorites(<i>0</i>)</a></li>
                            <li><a href="#">I have viewed(<i>0</i>)</a></li>
                            <li><a href="#">Reviews(<i>0</i>)</a></li>
                            <li><a href="#">Comments(<i>0</i>)</a></li>
                        </ul>
                    </div>
                    <div class="c-infos">
                    	<p class="none">Your favorites are empty.</p>
                    </div>
                </div>
            </div>
            
            
            <div style="clear:both;"></div>
        </div>
    </div>
    
    <!--content-->
    
    <!--foot-->
    <div class="footer">
      <!--<div class="footcmd"><a href="/add/events">POST AN EVENTS</a>
        <a href="/add/venue">POST A LISTING</a></div>-->
        <div class="cr">
            <p>All rights Reserved. <a href="/">GUIDE OF SHANGHAI</a> - Shanghai Tangsen Advertising Co., Ltd.</p>
            <p>Contact us: 021-52068511 / <a href="mailto:info@guideofshanghai.com">info@guideofshanghai.com</a> -
            <a target="_blank" href="http://www.miibeian.gov.cn">沪ICP备12043399号</a></p>
        </div>
    </div>
    <!--foot-->
    
</body>
</html>
