<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Guide of Shanghai</title>
<link rel="stylesheet" type="text/css" href="../css/topfoot.css" />
<link rel="stylesheet" type="text/css" href="../css/position.css" />
</head>

<body>
    <!--top-->
	<div class="top">
    	<div class="welcome-bg">
            <div class="welcome">
                <div class="login">
                    <a href="#">Login</a>|<a href="#">Sign up</a>
                </div>
                <p class="w1">Welcome to SH</p>
            </div>
        </div>
        <div class="logo-bg">
        	<a href="#" class="logo"><img src="../images/topfoot/logo2.jpg" alt="Guide of SH"/></a>
            <div class="search">
                <input type="text" value="name of attractions, restaurants, hotels, etc" class="s1" /><input type="button" value="" class="s2" />
            </div>
        </div>
        <div class="navs">
        	<ul>
            	<li><a href="#">Home</a></li>
            	<li><a href="#">About Shanghai</a></li>
            	<li><a href="#">Attractions</a></li>
            	<li><a href="#">Dining</a></li>
            	<li><a href="#">Night Life</a></li>
            	<li><a href="#">Hotels</a></li>
            	<li><a href="#">Shopping</a></li>
            	<li><a href="#">Listings</a></li>
            </ul>
        </div>
    </div>
    <!--top-->
    
    <!--content-->
    <div class="content">
        <div class="c-down">
        	<div class="cd-left">
            	<div class="where">
                	<ul>
                    	<li>
                        	<a href="#">
                            	<h3>Where to Eat</h3>
                                <span>Find a hotel in Shanghai</span>
                            </a>
                        </li>
                    	<li>
                        	<a href="#">
                            	<h3>Where to have drinks</h3>
                                <span>Find a hotel in Shanghai</span>
                            </a>
                        </li>
                    	<li>
                        	<a href="#">
                            	<h3>Where to stay</h3>
                                <span>Find a hotel in Shanghai</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="search2">
                	<input type="text" value="Where am I now..." class="so1"/><input type="button" value="" class="so2" />
                    <p class="zhushi">Check your current location by typing street names, hotel names, attraction names, etc.</p>
                </div>
                <div class="model1">
                	<div class="mtitle"><h3><a class="biaoti" href="#">My favorites</a></h3><a class="smap" href="#">See on map></a></div>
                    <ul class="lis1">
                    	<li><a href="#">1.The Bund</a></li>
                    	<li><a href="#">2.The Bund</a></li>
                    	<li><a href="#">3.The Bund</a></li>
                    	<li><a href="#">4.The Bund</a></li>
                    	<li><a href="#">5.The Bund</a></li>
                    </ul>
                    <a class="more" href="#">More >></a>
                </div>
            </div>
            <div class="c-mid">
            	<div class="weizhi">
                	<a href="#">Home</a><span>></span><a href="#">Listing</a><span>></span><a href="#">Restaurants</a><span>></span><a href="#">Chinese</a><span>>My Position</span>
                </div>
                <div class="bigmap"><img src="../images/bigmap.jpg" /></div>
            </div>
            <div class="c-right">
                <div class="model1">
                	<div class="mtitle"><h3><a class="biaoti" href="#">Hot Spots</a></h3><a class="smap" href="#">See on map></a></div>
                    <ul class="lis1">
                    	<li><a href="#">1.The Bund</a></li>
                    	<li><a href="#">2.The Bund</a></li>
                    	<li><a href="#">3.The Bund</a></li>
                    	<li><a href="#">4.The Bund</a></li>
                    	<li><a href="#">5.The Bund</a></li>
                    </ul>
                    <a class="more" href="#">Show all >></a>
                </div>
            </div>
            
            
            <div style="clear:both;"></div>
        </div>
    </div>
    
    <!--content-->
    
    <!--foot-->
    <div class="footer">
      <!--<div class="footcmd"><a href="/add/events">POST AN EVENTS</a>
        <a href="/add/venue">POST A LISTING</a></div>-->
        <div class="cr">
            <p>All rights Reserved. <a href="/">GUIDE OF SHANGHAI</a> - Shanghai Tangsen Advertising Co., Ltd.</p>
            <p>Contact us: 021-52068511 / <a href="mailto:info@guideofshanghai.com">info@guideofshanghai.com</a> -
            <a target="_blank" href="http://www.miibeian.gov.cn">沪ICP备12043399号</a></p>
        </div>
    </div>
    <!--foot-->
    
</body>
</html>
