<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Guide of Shanghai</title>
<link rel="stylesheet" type="text/css" href="../css/topfoot.css" />
<link rel="stylesheet" type="text/css" href="../css/whereto.css" />
</head>

<body>
    <!--top-->
	<div class="top">
    	<div class="welcome-bg">
            <div class="welcome">
                <div class="login">
                    <a href="#">Login</a>|<a href="#">Sign up</a>
                </div>
                <p class="w1">Welcome to SH</p>
            </div>
        </div>
        <div class="logo-bg">
        	<a href="#" class="logo"><img src="../images/topfoot/logo2.jpg" alt="Guide of SH"/></a>
            <div class="search">
                <input type="text" value="name of attractions, restaurants, hotels, etc" class="s1" /><input type="button" value="" class="s2" />
            </div>
        </div>
        <div class="navs">
        	<ul>
            	<li><a href="#">Home</a></li>
            	<li><a href="#">About Shanghai</a></li>
            	<li><a href="#">Attractions</a></li>
            	<li><a href="#">Dining</a></li>
            	<li><a href="#">Night Life</a></li>
            	<li><a href="#">Hotels</a></li>
            	<li><a href="#">Shopping</a></li>
            	<li><a href="#">Listings</a></li>
            </ul>
        </div>
    </div>
    <!--top-->
    
    <!--content-->
    <div class="content">
        <div class="c-down">
        	<div class="cd-left">
            	<div class="where">
                	<ul>
                    	<li>
                        	<a href="#">
                            	<h3>Where to Eat</h3>
                                <span>Find a hotel in Shanghai</span>
                            </a>
                        </li>
                    	<li>
                        	<a href="#">
                            	<h3>Where to have drinks</h3>
                                <span>Find a hotel in Shanghai</span>
                            </a>
                        </li>
                    	<li>
                        	<a href="#">
                            	<h3>Where to stay</h3>
                                <span>Find a hotel in Shanghai</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="search2">
                	<input type="text" value="Where am I now..." class="so1"/><input type="button" value="" class="so2" />
                    <p class="zhushi">Check your current location by typing street names, hotel names, attraction names, etc.</p>
                </div>
                <div class="model1">
                	<div class="mtitle"><h3><a class="biaoti" href="#">My favorites</a></h3><a class="smap" href="#">See on map></a></div>
                    <ul class="lis1">
                    	<li><a href="#">1.The Bund</a></li>
                    	<li><a href="#">2.The Bund</a></li>
                    	<li><a href="#">3.The Bund</a></li>
                    	<li><a href="#">4.The Bund</a></li>
                    	<li><a href="#">5.The Bund</a></li>
                    </ul>
                    <a class="more" href="#">More >></a>
                </div>
            </div>
            <div class="c-mid">
            	<div class="weizhi">
                	<a href="#">Home</a><span>></span><a href="#">Listing</a><span>></span><a href="#">Restaurants</a><span>></span><a href="#">Chinese</a><span>>My Position</span>
                </div>
            	<div class="quyu">
                	<div class="quyu1">
                    	<div class="cuisine">CUISINE</div>
                        <div class="all-list">
                        	<div class="moren-left">All</div>
                            <a href="#" class="moren-arrow"><img src="/images/commom/arrow.gif" /></a>
                        </div>
                    </div>
                	<div class="quyu2">
                    	<div class="cuisine">AREA</div>
                        <div class="all-list">
                        	<div class="moren-left">All</div>
                            <a href="#" class="moren-arrow"><img src="/images/commom/arrow.gif" /></a>
                        </div>
                    </div>
                	<div class="quyu3">
                    	<div class="cuisine">TAG</div>
                        <div class="all-list">
                        	<div class="moren-left">All</div>
                            <a href="#" class="moren-arrow"><img src="/images/commom/arrow.gif" /></a>
                        </div>
                        <div class="queding"><a href="#">Search</a></div>
                    </div>
                </div>
                <div class="price">
                	<h4>Price:</h4>
                    <p>
                        <input type="checkbox" name="" value="" />
                        Under 50rmb
                        <input type="checkbox" name="" value="" />
                        50-150rmb
                        <input type="checkbox" name="" value="" />
                        150-300rmb 
                        <input type="checkbox" name="" value="" />
                        300-500rmb 
                        <input type="checkbox" name="" value="" />
                        500rmb and up
                    </p>
                    <div style="clear:both;"></div>
                </div>
                <div class="title-nav">
                    <ul>
                        <li><a class="tnav-on" href="#">Results</a></li>
                        <li><a href="#">See on map</a></li>
                    </ul>
                </div>
                <ul class="lis-info">
                	<li><div class="liss">
                        <a class="liss-img" href="#"><img src="../images/img2.jpg" alt="" /></a>
                        <div class="liss-right">
                        	<div class="r-title">
                            	<h2><a href="#">Hakkasan</a></h2>
                                <span class="ib rate50"></span>
                            </div>
                            <div class="add">
                            	<div class="adds">
                                	<label>Add</label>
                                    <p>1/F, 500 Zhongshan Dong Yi Lu, by Beijing Dong Lu
                                    <br />
                                    中山东一路500号1楼, 近北京东路</p>
                                </div>
                                <div class="adds">
                                	<label>Tel</label>
                                    <p>021-5308 8071</p>
                                </div>
                            </div>
                            <p class="jieshao">Rich in culinary history, this restaurant uses recipes which fed the last emperor and surv...<a href="#">More>></a></p>
                        </div>
                    </div></li>
                	<li><div class="liss">
                        <a class="liss-img" href="#"><img src="../images/img2.jpg" alt="" /></a>
                        <div class="liss-right">
                        	<div class="r-title">
                            	<h2><a href="#">Hakkasan</a></h2>
                                <span class="ib rate45"></span>
                            </div>
                            <div class="add">
                            	<div class="adds">
                                	<label>Add</label>
                                    <p>1/F, 500 Zhongshan Dong Yi Lu, by Beijing Dong Lu
                                    <br />
                                    中山东一路500号1楼, 近北京东路</p>
                                </div>
                                <div class="adds">
                                	<label>Tel</label>
                                    <p>021-5308 8071</p>
                                </div>
                            </div>
                            <p class="jieshao">Rich in culinary history, this restaurant uses recipes which fed the last emperor and surv...<a href="#">More>></a></p>
                        </div>
                    </div></li>
                	<li><div class="liss">
                        <a class="liss-img" href="#"><img src="../images/img2.jpg" alt="" /></a>
                        <div class="liss-right">
                        	<div class="r-title">
                            	<h2><a href="#">Hakkasan</a></h2>
                                <span class="ib rate40"></span>
                            </div>
                            <div class="add">
                            	<div class="adds">
                                	<label>Add</label>
                                    <p>1/F, 500 Zhongshan Dong Yi Lu, by Beijing Dong Lu
                                    <br />
                                    中山东一路500号1楼, 近北京东路</p>
                                </div>
                                <div class="adds">
                                	<label>Tel</label>
                                    <p>021-5308 8071</p>
                                </div>
                            </div>
                            <p class="jieshao">Rich in culinary history, this restaurant uses recipes which fed the last emperor and surv...<a href="#">More>></a></p>
                        </div>
                    </div></li>
                	<li><div class="liss">
                        <a class="liss-img" href="#"><img src="../images/img2.jpg" alt="" /></a>
                        <div class="liss-right">
                        	<div class="r-title">
                            	<h2><a href="#">Hakkasan</a></h2>
                                <span class="ib rate35"></span>
                            </div>
                            <div class="add">
                            	<div class="adds">
                                	<label>Add</label>
                                    <p>1/F, 500 Zhongshan Dong Yi Lu, by Beijing Dong Lu
                                    <br />
                                    中山东一路500号1楼, 近北京东路</p>
                                </div>
                                <div class="adds">
                                	<label>Tel</label>
                                    <p>021-5308 8071</p>
                                </div>
                            </div>
                            <p class="jieshao">Rich in culinary history, this restaurant uses recipes which fed the last emperor and surv...<a href="#">More>></a></p>
                        </div>
                    </div></li>
                	<li><div class="liss">
                        <a class="liss-img" href="#"><img src="../images/img2.jpg" alt="" /></a>
                        <div class="liss-right">
                        	<div class="r-title">
                            	<h2><a href="#">Hakkasan</a></h2>
                                <span class="ib rate30"></span>
                            </div>
                            <div class="add">
                            	<div class="adds">
                                	<label>Add</label>
                                    <p>1/F, 500 Zhongshan Dong Yi Lu, by Beijing Dong Lu
                                    <br />
                                    中山东一路500号1楼, 近北京东路</p>
                                </div>
                                <div class="adds">
                                	<label>Tel</label>
                                    <p>021-5308 8071</p>
                                </div>
                            </div>
                            <p class="jieshao">Rich in culinary history, this restaurant uses recipes which fed the last emperor and surv...<a href="#">More>></a></p>
                        </div>
                    </div></li>
                	<li><div class="liss">
                        <a class="liss-img" href="#"><img src="../images/img2.jpg" alt="" /></a>
                        <div class="liss-right">
                        	<div class="r-title">
                            	<h2><a href="#">Hakkasan</a></h2>
                                <span class="ib rate20"></span>
                            </div>
                            <div class="add">
                            	<div class="adds">
                                	<label>Add</label>
                                    <p>1/F, 500 Zhongshan Dong Yi Lu, by Beijing Dong Lu
                                    <br />
                                    中山东一路500号1楼, 近北京东路</p>
                                </div>
                                <div class="adds">
                                	<label>Tel</label>
                                    <p>021-5308 8071</p>
                                </div>
                            </div>
                            <p class="jieshao">Rich in culinary history, this restaurant uses recipes which fed the last emperor and surv...<a href="#">More>></a></p>
                        </div>
                    </div></li>
                	<li><div class="liss">
                        <a class="liss-img" href="#"><img src="../images/img2.jpg" alt="" /></a>
                        <div class="liss-right">
                        	<div class="r-title">
                            	<h2><a href="#">Hakkasan</a></h2>
                                <span class="ib rate10"></span>
                            </div>
                            <div class="add">
                            	<div class="adds">
                                	<label>Add</label>
                                    <p>1/F, 500 Zhongshan Dong Yi Lu, by Beijing Dong Lu
                                    <br />
                                    中山东一路500号1楼, 近北京东路</p>
                                </div>
                                <div class="adds">
                                	<label>Tel</label>
                                    <p>021-5308 8071</p>
                                </div>
                            </div>
                            <p class="jieshao">Rich in culinary history, this restaurant uses recipes which fed the last emperor and surv...<a href="#">More>></a></p>
                        </div>
                    </div></li>
                </ul>
                <div class="page">
                	<span class="yema"><em>1~10</em><b>197</b></span>
                    <div class="pages">
                    	<ul>
                        	<li class="prev"><span><</span></li>
                        	<li class="page-start"><span>1</span></li>
                        	<li><a href="#">2</a></li>
                        	<li><a href="#">3</a></li>
                        	<li><a href="#">4</a></li>
                        	<li><a href="#">5</a></li>
                        	<li><a href="#">6</a></li>
                        	<li><a href="#">7</a></li>
                        	<li><a href="#">8</a></li>
                        	<li><a href="#">9</a></li>
                        	<li class="end"><a href="#">10</a></li>
                        	<li class="page-next"><a href="#">></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="c-right">
                <div class="banner">
                	<a href="#"><img src="../images/banner1.jpg" /></a>
                	<a href="#"><img src="../images/banner2.jpg" /></a>
                </div>
            </div>
            
            
            <div style="clear:both;"></div>
        </div>
    </div>
    
    <!--content-->
    
    <!--foot-->
    <div class="footer">
      <!--<div class="footcmd"><a href="/add/events">POST AN EVENTS</a>
        <a href="/add/venue">POST A LISTING</a></div>-->
        <div class="cr">
            <p>All rights Reserved. <a href="/">GUIDE OF SHANGHAI</a> - Shanghai Tangsen Advertising Co., Ltd.</p>
            <p>Contact us: 021-52068511 / <a href="mailto:info@guideofshanghai.com">info@guideofshanghai.com</a> -
            <a target="_blank" href="http://www.miibeian.gov.cn">沪ICP备12043399号</a></p>
        </div>
    </div>
    <!--foot-->
    
</body>
</html>
