<!--{if !INAJAX}-->
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{echo trim($page_title.'-'.$lang[site_name], '-')}</title>
<!--[if lt IE 7]><style type="text/css">_body{behavior: url("{$public_dir}images/hover.htc")}</style><![endif]-->
<link rel="stylesheet" type="text/css" href="{$static_dir}images/layout.css" />
<link rel="stylesheet" type="text/css" href="{$public_dir}images/dialog.css" />
<!--[if lt IE 9]><script type="text/javascript" src="scripts/html5.js"></script><![endif]-->
<script type="text/javascript" src="scripts/jquery-1.6.min.js"></script>
<script type="text/javascript" src="scripts/jquery.extend.js"></script>
<script type="text/javascript" src="scripts/jquery.dialog.js"></script>
<script type="text/javascript" src="scripts/jquery.tmpl.js"></script>
<script type="text/javascript">
jQuery.G={'domain':'{echo DOMAIN}',
'realroot':"{echo defined('REAL_WEBROOT')?REAL_WEBROOT:WEBROOT}",'webroot':'{echo WEBROOT}',
'pubdir':'{$public_dir}','staticdir':'{$static_dir}','formhash':'{$formhash}',
'updir':'{$UPDIR}','uid':'$user_data[id]',
'dir':'{$DIR}','mod':'{$MODULE}','ac':'{$ACTION}',language:'{$config[base][language]}'};
jQuery.lang={'continue':'{lang button.continue}',
'submit':'{lang button.submit}',
'cancel':'{lang button.cancel}',
'auto_close':'{lang auto_close}',
'refresh_page':'{lang refresh_page}',
'please_wait':'{lang please_wait}'};
var URLs={};
</script>
</head>
<body><!--{/if}-->
<div class="dialog-upload-wrapper pr">
  <div class="dialoglft">
    <div class="dialog-uploadcmd"><button id="dialog-uploader" class="dialog-uploader">Upload</button>
    <button id="dialog-upstart" class="dialog-upstart disabled" disabled="disabled">Start</button></div>
    <div class="dialog-upload-queue">
      <div class="dialog-queue"></div>
      <div class="tmpl hide"><!--<div class="queueline" id="dialog-queue-[field:id]"><div><strong></strong></div><span>[field:size]<em>-</em></span>[field:name]</div>//--></div>
    </div>
  </div>
  <div class="dialogmain">
    <div id="dialog-album" class="hide">
      <select id="select-myalbum" class="keep-data"><!--<option value="[field:id]">[field:subject]</option>--></select>
	  <div id="picdata">
        <ul class="piclist clearfix">
		  <!--<li id="pic[field:id]"><em>&nbsp;</em><a href="#" title="[field:description]" rel="[field:fileurl]" class="imgbox">
		  <img src="{echo '[field:thumb]'}" alt="[field:filepath]" /></a></li>-->
		</ul>
        <div class="pagination"></div>
      </div>
    </div>
    <div id="dialog-file" class="hide">
      <ul class="rowlist">
        <!--<li id="[field:id]"><span title="[field:filesize]">[field:formatsize]</span><em>&nbsp;</em>
		  <img src="{$pubdir}filetype/[field:filetype].gif" /><a href="javascript:;" title="[field:description]">[field:filepath]</a>'
		  <small>[field:description]</small></li>-->
	  </ul>
      <div class="pagination clearfix"></div></div>
    </div>
    <div class="insert_wrapper"></div>
  </div>
</div>
<script type="text/javascript" src="{REAL_WEBROOT}app/file/mxupload.js"></script>
<script type="text/javascript">
jQuery.tfile_types = eval('({echo json_encode($file_types)})');
jQuery.tfile_options={
	url:'{echo url("dir=&app=file&ac=upload&ajax=1")}',
	chunk_size:'1mb',
	multipart_params:{
		path:'{$path}',
		token:'{$token}',
		mid:'{$mid}'
	}
};
jQuery.tfile_options.lang=eval('({echo json_encode($lang_plupload)})');
$.datacache['file']={};
function apply_block(k){
	var wr='.insert_wrapper',me=this;
	if('undefined'==typeof $.replace_tmpl){
		return $.getScript($.G.pubdir+'scripts/jquery.tmpl.js',
		function(){
			apply_block.call(me,k);
		});
	}
	jQuery.tfile_options.filters = [jQuery.tfile_types[k]];
	if (!jQuery.tfile_options.filters) return ;
	$('#dialog-uploader').bind('file-added',function(e,up,files){
		if(!jQuery.uphandle) jQuery.uphandle = up;
		$.each(files, function(i, file){
			files[i]['size'] = plupload.formatSize(file.size);
			$.datacache['file'][file.id] = file;
		});
		$('.dialog-upstart:disabled').removeClass('disabled').attr('disabled',false);
		$('.dialog-queue').append($.replace_tmpl($('.dialog-upload-queue .tmpl').html(),files))
		.find('em').unbind('click').
		bind('click', function(){
			var div=$(this).closest('div');
			if(!div.siblings('div').length) $('.dialog-upstart').addClass('disabled').attr('disabled',true);
			up.removeFile($.datacache['file'][div.attr('id').replace('dialog-queue-','')]);
			div.remove();
		});
	}).bind('upload-progress',function(up,file){
		$('div','#dialog-queue-'+file.id).width(file.percent+'%').find('strong').text(file.percent+'%');
	}).bind('file-uploaded',function(up, file, info){
		$('em','#dialog-queue-'+file.id).replaceWith('<cite>&radic;</cite>');
		$('div','#dialog-queue-'+file.id).remove();
	}).mxupload(jQuery.tfile_options);
	$('.dialog-upstart').bind('click.upstart',
	function(){
		if($(this).hasClass('disabled')) return ;
		if(jQuery.uphandle) jQuery.uphandle.start();
	});
	$('a.imgbox','.piclist').live('click',
	function(){
		var pr=$(this).parent(),ins='insert-'+pr.attr('id');
		if(pr.hasClass('active')){
			pr.removeClass('active');
			$('#'+ins).remove();
		}else{
			if(me&&'undefined'!=typeof me.elem){
				if(me.elem.id=='dgetcover'){
					$(wr).empty();
					pr.siblings('.active').removeClass('active');
				}
			}
			$('img',this).removeAttr('style').parent().clone().attr('id',ins).appendTo(wr);
			pr.addClass('active');
		}
		return false;
	});
	$('a.imgbox',wr).live('click',
	function(){
		var id=$(this).attr('id').replace('insert-','');
		$(this).remove();
		$('#'+id).removeClass('active');
		return false;
	});
	$('#picdata .pagination').hover(function(){
		$(wr).fadeOut('fast');
	}, function(){
		$(wr).fadeIn('fast');
	});
	get_data(k);
}
function get_data(k,child,post){
	child = child || '';
	var ob=$.trim('#dialog-'+k+' '+child);
	if (''==child) $(ob).siblings().addClass('hide').end().removeClass('hide');
	if ($('select',ob).length>0){
		$('select',ob).ajaxdata('{echo url("dir=member&mod=archives&mid=3")}',{format:'json',size:'50'})
		.bind('call-success', function(e, ac){
			var me=this,mids={venue:4,events:5},id,data={mid:3,size:15,thumb:'120x120x1',format:'json'};
			if ('change'!=ac){
				$.each({'events':'--{lang events_album}--','venue':'--{lang listing_album}--','0':'{lang default_album}'},
				function(key, optext){
					jQuery('<option>',{value:key}).text(optext).prependTo(me);
				});
				$(me).val('0');
			}
			id=$(this).val();
			if ('undefined'!=typeof mids[id]){
				data.mid = mids[id];
				delete $.datacache['option']['picdata']['data']['id'];
			}else{
				data.id = id;
			}
			get_data(k,'#picdata',data);
		}).bind('change.get-album', function(){
			$(this).trigger('call-success', ['change']);
		});
	}else{
		post = post || {};
		post.path = k;
		$(ob).ajaxdata('{echo url("dir=&app=file&ac=get")}',post)
		.bind('call-success', function(e){
			$('img', this).hide().each(function(){
				$(this).loadimg($(this).attr('src'),$(this).parent().width(), $(this).parent().height());
				if($('#insert-'+$(this).closest('li').attr('id')).length>0) $(this).closest('li').addClass('active');
			});
		});
	}
}
/*<!--{if $path AND !INAJAX}-->*/$(function(){apply_block('{$path}');})/*<!--{/if}-->*/
</script>
<!--{if !INAJAX}--></body>
</html><!--{/if}-->