    <!--content-->
    <!--foot-->
    <div class="footer">
      <!--<div class="footcmd"><a href="/add/events">POST AN EVENTS</a>
        <a href="/add/venue">POST A LISTING</a></div>-->
        <div class="cr">
            <p>All rights Reserved. <a href="/">GUIDE OF SHANGHAI</a> - Shanghai Tangsen Advertising Co., Ltd.</p>
            <p>Contact us: 021-52068511 / <a href="mailto:info@guideofshanghai.com">info@guideofshanghai.com</a> -
            <a target="_blank" href="http://www.miibeian.gov.cn">沪ICP备12043399号</a></p>
        </div>
    </div>
    <!--foot-->   
<script type="text/javascript" src="/cp/ads.js"></script>
<script type="text/javascript">
$(function(){
	Ads.get();
});
</script>
</body>
</html>
