<!DOCTYPE HTML>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="X-UA-Compatible"  content="IE=7" /> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{echo trim($pagetit.'-'.$lang[site_name], '-')}</title>
<meta name="keywords" content="{$seokeywords}" />
<meta name="description" content="{$seodesc}" />
<meta name="author" content="{lang site_name}" />
<meta name="Copyright" content="{lang site_name}" />
<link rel="stylesheet" type="text/css" href="css/layout.css" />
<!--[if lt IE 9]><script type="text/javascript" src="0/jslib/html5.js"></script><![endif]-->
<script type="text/javascript" src="0/jslib/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="0/jslib/jquery.dialog.js"></script>
<script type="text/javascript" src="0/jslib/jquery.fix.js"></script>
<!--{if property_exists($this,'form')}--><script type="text/javascript" src="0/jslib/jquery.form.js"></script><!--{/if}-->
<script type="text/javascript">
(function($){
	jQuery.G=eval('({echo json_encode($config[env])})');
})(jQuery);
</script>
</head>

<body>
    <!--top-->
	<div class="top">
    	<div class="welcome-bg">
            <div class="welcome">
                <div class="login">
                    <!--{if !$user_data[id]}--><a href="user/home/login">Login</a>|<a href="user/home/login">Sign up</a>
                    <!--{else}--><!--{if isset($user_perm[admin])}--><a href="admin">Admin</a>|<!--{/if}--><a href="user/home/logout">Logout</a><!--{/if}-->
                </div>
                <p class="w1">Welcome to SH! <!--{if $user_data}--><b>{$user_data[name]}</b><!--{/if}--></p>
            </div>
        </div>
        <div class="logo-bg">
        	<a href="{$config[env][baseurl]}" class="logo"><img src="images/topfoot/logo2.jpg" alt="Guide of SH"/></a>
            <div class="search">
            <form action="search/redirect" method="post">
            	<input type="hidden" name="mid" value="venue" /><input type="hidden" name="fk" value="1" />
                <input type="text" name="k" placeholder="name of attractions, restaurants, hotels, etc" class="s1" /><input type="submit" value="" class="s2" />
            </form>
            </div>
        </div>
        <div class="navs">
        	<ul>
            	<li class="nav-on"><a href="{$config[env][baseurl]}">Home</a></li>
                <!--{loop $topnav $one}-->
				<!--{if !$one[hide_nav]}-->
            	<li id="nav-c{$one[id]}"><a href="{$one[link]}">{$one[catename]}</a></li>
				<!--{/if}-->
                <!--{/loop}-->
            </ul>
        </div>
    </div>
    <!--top-->
    <!--content-->
