{template header}
<section class="sidemain sidehack">
  <div class="boxes shadow">
    <h4 class="boxes-tit">{$tabletit}</h4>
    <div class="boxes-body">
      <form action="{url admin/{$config[env][controller]}/save}" method="post" name="saveForm" class="ajaxForm" data-ckblur="1">
      <!--{echo $this->form->hidden('id')}-->
      <ul class="nav nav-tabs clearfix">
      <!--{loop $form_group $group}-->
        <li><a href="#tabs-{$group}" data-toggle="tab"><b>{echo lang('form_group.'.$group)}</b></a></li>
      <!--{/loop}-->
      </ul>
      <div class="tab-content qcform">
        <!--{loop $form_group $key $group}-->
        <div class="tab-pane" id="tabs-{$group}">
          <ul>
          <!--{loop $form[$key] $one}-->
            <li>{$one[label]}
              {$one[ele]}
              {$one[tips]}</li>
          <!--{/loop}-->
          </ul>
        </div>
        <!--{/loop}-->
      </div>
      <div class="boxes-search">
        <button type="submit" class="btn btn-primary">{lang button.submit}</button>
        <button type="reset" class="btn">{lang button.reset}</button></div>
      </form>
    </div>
  </div>
</section>
<script type="text/javascript" src="0/jslib/jquery.dtpicker.js"></script>
<!--{if $this->form->htmlflag['mselect']}-->
<script type="text/javascript" src="0/jslib/jquery.mselect.js"></script>
<script type="text/javascript">$.mselect.data['qc-hidden-sd_cid'] = {mid: '{$channel[id]}'};</script><!--{/if}-->
<!--{if $this->form->htmlflag['html-editor']}-->
<script type="text/javascript" src="0/jslib/ckeditor/ckeditor.js"></script><!--{/if}-->
<script type="text/javascript">
$(function(){
	$.mselect.data['cid'] = {mid: '{$channel[id]}'};
	$('.nav a:first').addClass('active').trigger('click.tab.data-api');
	/*{if $this->form->htmlflag['html-editor']}*/
	$(document).on('click.load-editor', '.html-editor',
	function(){
		$(this).prev().css('display','block');
		CKEDITOR.replace(this, {language: '{$config[site][language]}',width:'80%'});
	});/*{/if}*/
});
</script>
{template footer}
