{template header}
<section class="sidemain sidehack">
  <div class="boxes shadow">
    <h4 class="boxes-tit">{$tabletit}</h4>
    <div class="boxes-body">
      <form action="{url admin/{$config[env][controller]}/save}" method="post" name="saveForm" class="ajaxForm" data-ckblur="1">
      <!--{echo $this->form->hidden('id','',$data[id])}--><!--{echo $this->form->hidden('mid','',$channel[id])}-->
      <ul class="nav nav-tabs clearfix">
      <!--{loop $form_group $group}-->
        <li><a href="#tabs-{$group}" data-toggle="tab"><b>{echo lang('form_group.'.$group)}</b></a></li>
      <!--{/loop}-->
      </ul>
      <div class="tab-content qcform">
        <!--{loop $form_group $key $group}-->
        <div class="tab-pane" id="tabs-{$group}">
          <ul>
          <!--{loop $form[$key] $one}-->
            <!--{if empty($one[label])}--><!--{echo '<li class="hide">'}--><!--{else}-->
            <li><!--{/if}-->{$one[label]}
              {$one[ele]}
              {$one[tips]}</li>
          <!--{/loop}-->
          </ul>
        </div>
        <!--{/loop}-->
      </div>
      <div class="boxes-search">
        <button type="submit" class="btn btn-primary">{lang button.submit}</button>
        <button type="reset" class="btn">{lang button.reset}</button></div>
      </form>
    </div>
  </div>
</section>
<script type="text/javascript" src="0/jslib/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="0/jslib/jquery.dtpicker.js"></script>
<!--{if $this->form->htmlflag['mselect']}-->
<script type="text/javascript" src="0/jslib/jquery.mselect.js"></script>
<script type="text/javascript">$.mselect.data['qc-hidden-sd_cid'] = {mid: '{$channel[id]}',tpltype:'list,index'};</script><!--{/if}-->
<!--{if $this->form->htmlflag['html-editor']}-->
<script type="text/javascript" src="0/jslib/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="0/jslib/jquery.ubbcode.js"></script><!--{/if}-->
<!--{if $this->form->htmlflag['file']}-->
<script type="text/javascript" src="0/jslib/plupload/plupload.js"></script>
<script type="text/javascript" src="0/jslib/plupload/plupload.plus.js"></script>
<div id="file-browse" class="picpanel">
  <ul>
    <!--<li><a href="${fileurl}" data-path="${filepath}" title="${subject}" class="picitem"><img src="${thumb}" alt="${subject}" /></a></li>-->
  </ul>
  <div class="picselected"></div>
</div><!--{/if}-->
<script type="text/javascript">
var app = {
	tmpl: '', wrap: '#file-browse > ul',
	init: function(){
		/*{if $this->form->htmlflag['file']}*/
		$('[name=sd_coverpic]').data('url','{:url cp/file/upload}').data('browse','#file-browse');
		if ($.pluploader) $.pluploader.callback(this.uploader);
		this.tmpl = $.trim($(this.wrap).html()).replace(/^(<!\-\-)|((\/\/)*\-\->)$/g, '');
		$('.picselected').delegate('a', 'click',
		function(){
			$(this).remove();
			return false;
		});/*{/if}*/
		$.mselect.data['cid'] = {mid: '{$channel[id]}'};
		$('.nav a:first').trigger('click.tab.data-api');
		$('.ajaxForm').bind('form-pre-serialize', this.before).saveForm(this.save);
	},/*{if $this->form->htmlflag['file']}*/
	uploader: function(ac){
		if ('reset' === ac) return $.pluploader.reset();
		var op = {
			id: 'plupload-file-panel', top:'100', limit:'1',
			onRender: app.browse,
			onSubmit: app.inspic
		};
		$('.form-file').plupload_plus(op);
	},
	browse: function(){
		if ($(app.wrap).data('loaded')===1) return ;
		app.get(0);
		$(app.wrap).data('loaded', 1)
			//.delegate('a.picitem', 'click', app.setpic);
			.on('click.setpic', {op:this}, app.setpic);
	},
	setpic: function(e){
		if (e.target.nodeName === 'IMG'){
			if ($(e.data.op.ele).prev().is('[name=sd_coverpic]')) $('.picselected').empty();
			$(e.target).parent().clone().removeClass('picitem').appendTo('.picselected');
		}
		return false;
	},
	inspic: function(){
		if (!$('.picselected a').length) return false;
		if ($(this.ele).prev().is('[name=sd_coverpic]')){
			$(this.ele).prev().val($('.picselected a:first').data('path'));
		}
		this.hide();
	},
	get: function(p){
		p = p || 1;
		$.getJSON('{:url cp/file/get}', {thumb:'small', page:p}, function(res){
			$.tmpl(app.tmpl, res.body.data).appendTo($(app.wrap).empty());
		});
	},/*{/if}*/
	before: function(e, form, m){
		/*{if $this->form->htmlflag['html-editor']}*/
		$('.html-editor').trigger('set-editor-data');/*{/if}*/
		return m.veto = true;
	},
	save: function(res){
		$('#qc-hidden-id').val(res.body.id);
		$.dialog('<h3>'+res.message+'</h3><p>{lang next_action}</p>', {
			appendClass:'ui-dialog-ok',
			buttons:{
				'{lang button.backlist}':'{url #back#}',
				'{lang button.reedit}':'{:url("admin/archives/".$channel[prefix])}/edit/'+res.body.id,
				/*<!--{if $channel[pic_category]}-->*/'{lang button.picmanage}':'{:url("admin/archives/".$channel[prefix])}/picture/'+json.id,/*<!--{/if}-->*/
				'{lang button.readd}':'{:url("admin/archives/".$channel[prefix]."/add")}'
			}
		});
		return false;
	}
};
$(function(){
	app.init();
	/*{if $this->form->htmlflag['html-editor']}*/
	$('.html-editor').on('click.load-editor',
	function(){
		$(this).prev().css('display','block');
		CKEDITOR.replace(this, {language: '{$config[site][language]}',width:'80%'});
	}).bind('set-editor-data', function(){
		if (CKEDITOR.instances[this.id]){
			if ($.trim($('[name=description]').val())===''){
				$('[name=description]').val(CKEDITOR.instances[this.id].document.getBody().getText().csubstr(200));
			}
			$(this).val(UBB.html2ubb(CKEDITOR.instances[this.id].getData()));
		}else if (parseInt('{$data[id]}', 10) > 0){
			$(this).attr('disabled', 'disabled');
		}
	});/*{/if}*/
});
</script>
<!--{if $channel[id]=='3'}-->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&callback=ginit&hl=en"></script>
<script type="text/javascript">
var gg = {
	cache: {address:'', point:[]}, point: [$('#qc-hidden-maplat').val(), $('#qc-hidden-maplng').val()],
	init: function(){
		this.handler = '#qc-text-enaddr';
		this.cache.address = $(this.handler).val();
		this.cache.point = this.point;
		$(this.handler).bind('blur.loadmap', this.loadMap)
			.trigger('blur.loadmap');
	},
	loadMap: function(){
		var marker = $(this).next('a.mapmarker');
		if ($(this).val()!==''){
			gg.getMap(this, false);
			if (marker.length>0){
				return marker.show();
			}
			gg.drawLink(this);
		}else{
			marker.hide();
		}
	},
	drawLink: function(el){
		$('<a>', {'class':'mapmarker',href:'javascript:;',title:'{lang arcpost.map_marker}'})
			.text('[{lang arcpost.map_marker}]')
			.insertAfter(el)
			.on('click.dialog-api',
			function(e){
				jQuery.doane(e);
				$(this).dialog({
					message: '<div id="mapmark-canvas" style="width:100%;height:400px"></div>',
					id: 'map-marker', width:600, addclass:'ui-nop',
					reload: false,
					title: '{lang arcpost.map_marker}',
					onRender: function(){
						gg.getMap(gg.handler);
					},
					buttons: {
						'{lang button.submit}': function(){
							gg.setVal();
							this.hide();
						}
					}
				});
			});
	},
	getMap: function(el, draw){
		var ll = gg.point, val = $(el).val();
		draw = ('undefined'===typeof draw) && true;
		if (!draw){
			if (val===this.cache.address) return ;
			return this.getLatlng(val, this.setVal);
		}
		if (val===this.cache.address && ll[0] !=='0' && ll[1] !=='0'){
			return this.drawMap(new google.maps.LatLng(ll[0], ll[1]));
		}
		this.getLatlng(val);
	},
	getLatlng: function(val, fn){
		if (!fn){
			fn = function(p){
				gg.drawMap(p);
			}
		}
		this.cache.address = val;
		var geocoder = new google.maps.Geocoder();
		geocoder.geocode( { 'address': 'China Shanghai ' + addr}, function(results, status){
			if (status == google.maps.GeocoderStatus.OK){
				gg.setVal(results[0].geometry.location, 'point');
				if ($.isFunction(fn)) fn(results[0].geometry.location);
				return ;
			}
			return ;//$('#mapmark-canvas').text("Colud not find this place ("+ addr +") in google map.");
		});
	},
	setVal: function(loc){
		if ('undefined'!==typeof loc) return gg.point = [loc.lat(), loc.lng()];
		$('#qc-hidden-maplat').val(gg.point[0]);
		$('#qc-hidden-maplng').val(gg.point[1]);
	},
	drawMap: function(point){
		var marker
		, myOptions = {
			zoom:15,
			mapTypeId: google.maps.MapTypeId.ROADMAP,
			mapTypeControl: false
		}
		, map = new google.maps.Map(document.getElementById('mapmark-canvas'), myOptions);
		map.setCenter(point);
		marker = new google.maps.Marker({
			position: point,
			map: map, 
			animation: google.maps.Animation.DROP,
			draggable: true
		});
		google.maps.event.addListener(marker, 'dragend',
		function(){
			gg.setVal(marker.getPosition());
		});
	}
}, ginit = function(){gg.init();};
</script>
<!--{/if}-->
{template footer}
