{template header}
<section class="sidergt sidehack" style="width:600px">
  <div class="boxes shadow">
    <h4 class="boxes-tit">{lang button.add_category}</h4>
    <div class="boxes-body">
      <ul class="nav nav-tabs clearfix">
      <!--{loop $form_group $group}-->
        <li><a href="#tabs-{$group}" data-toggle="tab"><b>{echo lang('form_group.'.$group)}</b></a></li>
      <!--{/loop}-->
      </ul>
      <form action="admin/category/save" method="post" name="supeForm">
      <input type="hidden" name="id" value="0" />
	  <input type="hidden" name="pid" value="0" />
	  <input type="hidden" name="uptxt" value="0" />
      <div class="tab-content qcform">
        <!--{loop $form_group $key $group}-->
        <div class="tab-pane" id="tabs-{$group}">
          <ul>
          <!--{loop $form[$key] $one}-->
            <li>{$one[label]}
              {$one[ele]}
              {$one[tips]}</li>
          <!--{/loop}-->
          </ul>
        </div>
        <!--{/loop}-->
      </div>
      <div class="boxes-search">
        <button type="submit" class="btn btn-primary">{lang button.submit}</button>
        <button type="reset" class="btn">{lang button.reset}</button>
        <span class="ajax-tips">{lang saving}</span></div>
      </form>
    </div>
  </div>
</section>
<section class="sidemain sidehack">
  <div class="boxes shadow">
	<span class="titrgt"><a class="btn addroot" href="#add"><i class="icon-plus"></i>{lang button.add_category}</a></span>
    <h4 class="boxes-tit">{$tabletit}</h4>
    <div class="boxes-body treedata">
      <ul>
        <!--<li class="collaps"><span data-id="${id}">
		  <em class="arrow" data-order="${orderby}"><a href="javascript:;" class="arrow_up"><small></small></a><a href="javascript:;" class="arrow_down"><small></small></a></em>
		  <label>${id}. <cite>${catename}</cite></label>{{if options!=''}}<em class="opstr">${options}</em>{{/if}}
          <a href="#add" title="Add"><i class="icon-plus"></i></a>
          <a href="#edit" title="Edit"><i class="icon-edit"></i></a>
          <a href="#del" title="Delete"><i class="icon-remove"></i></a></span>{{if childs>0}}<ul style="display:none"></ul>{{/if}}</li>-->
      </ul>
    </div>
  </div>
</section>
<script type="text/javascript" src="0/jslib/jquery.tmpl.min.js"></script>
<!--{if $this->form->htmlflag['html-editor']}-->
<script type="text/javascript" src="0/jslib/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="0/jslib/jquery.ubbcode.js"></script><!--{/if}-->
<!--{if $this->form->htmlflag['file']}-->
<script type="text/javascript">$('.form-file').data('url', '{:url admin/category/upload}');</script>
<script type="text/javascript" src="0/jslib/plupload/plupload.js"></script>
<script type="text/javascript" src="0/jslib/plupload/plupload.plus.js"></script><!--{/if}-->
<script type="text/javascript">
$.datacache = jQuery.extend({}, {cate:{}, catedata:{}, content:{}});
var app = {
	id: 0, task: 'add', target: $('.addroot')[0], form: '',
	root: $('.treedata > ul'),
	wrap: '',
	html: '',
	init: function(){
		this.wrap = this.root;
		/*{if $this->form->htmlflag['file']}*/$.pluploader.callback(this.uploader);/*{/if}*/
		this.html = $.trim(this.wrap.html()).replace(/^(<!\-\-)|((\/\/)*\-\->)$/g, '');
		this.get(0);
		this.form = $('form[name=supeForm]');
		this.root.delegate('a', 'click', this.run).delegate('em.hitarea', 'click', this.getsub);
		this.form.bind('form-pre-serialize', function(e, form, op, veto){
			$('.html-editor').trigger('setdata');
		}).saveForm(this.save);
		$('button[type=reset]').on('click.reset.form', this.reset);
		$('.addroot').on('click.addroot', this.run);
	},
	reset: function(){
		app.form[0].reset();
		if ('undefined' !== typeof app[app.task]) app[app.task]();
		app.uploader('reset');
		app.content('reset');
		return false;
	},
	run: function(){
		var href = $(this).attr('href');
		app.task = href.substr(href.lastIndexOf('#')+1);
		app.target = this;
		app.id = $(this).parent().hasClass('titrgt') ? 0 : parseInt($(this).parent().data('id'));
		app.wrap = !app.id ? app.root : $(this).closest('ul');
		if ('undefined' !== typeof app[app.task]){
			app[app.task]();
		}
		return false;
	},
	add: function(){
		this.form[0].reset();
		this.uploader('reset');
		this.content('reset');
		$('input[name=pid]:hidden').val(this.id);
		$('.sidergt .boxes-tit').html('{lang button.add_category}' + (this.id > 0 ? ' / ' + $(this.target).prev('label').text() : ''));
	},
	edit: function(){
		var data = $.datacache.catedata[this.id];
		if (!data){
			return $.getJSON('{:url admin/category/get}', {id:this.id},
			function(res){
				$.datacache.catedata[app.id] = res.body;
				app.edit();
			});
		}
		$('input[name=id]:hidden').val(this.id);
		$('.sidergt .boxes-tit').html('{lang button.edit_category} / '+ data.catename);
		$.each(data, function(k, val){
			$('.qcform [name="' + k + '"]').val(val);
		});
		this.uploader('reset');
	},
	save: function(res){
		var ff = $('.form-file','form[name=supeForm]');
		if (!res.body.id || !ff.length || ff.data('autoupload')>0) return app.dialog(res);
		var i = 0;
		ff.next().each(function(){
			var uploader = $(this).bind('plupload-BeforeUpload',
			function(e, up, files){
				up.settings.multipart_params.id = res.body.id;
			}).bind('plupload-UploadComplete',
			function(e, up, files){
				delete up.settings.multipart_params.oldfile;
				app.dialog(res);
			}).pluploader();
			if (uploader.files.length>0){
				i++;
				uploader.start();
			}
		});
		if (0===i) return app.dialog(res);
	},
	dialog: function(res){
		res.body.coverpic = $('input[name=coverpic]').val();
		if (this.task === 'add'){
			var se = this.id > 0 ? $(this.target).parent().next('ul') : this.root;
			if (!se.length) se = $('<ul />').insertAfter($(this.target).parent());
			$.tmpl(this.html, res.body).appendTo(se);
			if (!$.datacache.cate[this.id]) $.datacache.cate[this.id] = {};
			$.datacache.cate[this.id][res.body.id] = res.body;
			this.reset();
			this.tree();
			$(this.target).siblings('em.hitarea').trigger('click.subcate');
		}else if ('edit' === this.task){
			$(this.target).parent().replaceWith($.tmpl(this.html, res.body).find('span'));
		}
		$.datacache.catedata[res.body.id] = res.body;
		$.ckSuccess(res);
	},
	getsub: function(){
		app.wrap = $(this).parent()
			.swapClass('collaps','expand')
			.swapClass('lastCollaps','lastExpand')
			.find('>ul').toggle();
		if (app.wrap.is(':visible')) app.get($(this).next('span').data('id'));
	},
	get: function(id){
		this.id = id;
		if ($.datacache.cate[id]) return this.build();
		return $.getJSON('{:url category/json}', {id:id, 'do':'child', res:'array'},
		function(res){
			if (0===res.code) return ;
			$.datacache.cate[id] = res.body;
			app.build();
		});
	},
	build: function(){
		var data = $.datacache.cate[this.id];
		if (!data) return ;
		$.tmpl(this.html, data).appendTo(this.wrap.empty());
		this.tree();
	},
	tree: function(wrap){
		wrap = wrap || this.wrap;
		$('small.disabled', wrap).removeClass('disabled');
		wrap.find('>li')
			.removeClass('last lastExpand lastCollaps')
			.filter(":last-child")
				.addClass('last')
			.end()
			.filter(':has(>ul:hidden)')
				.replaceClass('collaps','expand')
				.replaceClass('last','lastExpand')
			.end()
			.not(':has(>ul:hidden)')
				.replaceClass('expand','collaps')
				.replaceClass('last', 'lastCollaps')
			.end()
			.filter(':not(>ul):last-child')
				.addClass('last')
			.end()
			.find('.hitarea').remove()
			.end()
			.filter(':has(>ul)')
			.prepend('<em class="hitarea" />');
		$('li:first',wrap).find('.arrow_up>small').addClass('disabled');
		$('li:last',wrap).find('.arrow_down>small').addClass('disabled');
	},
	uploader: function(ac){
		if (!$.pluploader) return ;
		if ('reset' === ac) return $.pluploader.reset();
		var op = {
			'FileUploaded': function(e, up, file, res){
				$(this).prev(':text').val(res.code === 0 ? '' : res.body.filepath);
			}
		};
		$('.form-file').plupload_plus(op);
	},
	content: function(ac){
		var id = 'qc-textarea-sd_content'
			, jid = '#' + id
			, html = $.datacache.content[this.id];
		if ('reset' === ac){
			if (undefined === html) return ;
		}else if (!this.id || this.task === 'add'){
			html = '';
		}
		if (undefined === html){
			return $.post('{:url admin/category/content}', {id:app.id, ajax:'html'},
				function(res){
					$.datacache.content[app.id] = res;
					app.content();
				}, 'html');
		}
		$(jid).val(html);
		/*{if $this->form->htmlflag['html-editor']}*/
		if (CKEDITOR.instances[id]) CKEDITOR.instances[id].setData(html);/*{/if}*/
	}
};
$(function(){
	app.init();
	$('.nav a:first').addClass('active').trigger('click.tab.data-api');
	/*{if $this->form->htmlflag['html-editor']}*/
	$('.nav a:last').on('click.tab.data-api', $.proxy(app.content, app));
	$('.html-editor').on('click.load-editor',
	function(){
		$(this).prev().css('display','block');
		$('input[name=uptxt]:hidden').val('1');
		CKEDITOR.replace(this, {language: '{$config[site][language]}',width:'98%'});
	}).bind('setdata', function(){
		if (CKEDITOR.instances[this.id]){
			if ($.trim($('[name=description]').val())===''){
				$('[name=description]').val(CKEDITOR.instances[this.id].document.getBody().getText().csubstr(200));
			}
			$(this).val(UBB.html2ubb(CKEDITOR.instances[this.id].getData()));
		}else if (app.task==='edit'){
			$(this).attr('disabled', 'disabled');
		}
	});/*{/if}*/
});
</script>
{template footer}
